$primario: salmon;   
$secundario: #326dee;
$error: red;
$info: #f6c31c;

$colores: (
    "principal": $primario,
    "alternativo": $secundario,
    "error": $error,
    "blue": #1919e6,
    "gray": #808080,
    "purple": #9900ff,
    "green": #19e635
);

@debug map-has-key($colores, "info");

p{
    background-color: map-get($colores, "gray");
}